        * {
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        .navbar {
            position: relative!important;
            width: 100%;
            background-color: orange;
        }
        
        a {
            color: white!important;
        }
        
        .navbar-toggler {
            border-color: #1c1c1c!important;
            font-size: 1.25rem;
            line-height: 1;
        }
        
        .row {
            margin: 0;
        }
        
        .starWelcome {
            /* Aposition: fixed; */
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
        /* pag one */
        
        #home {
            background-color: #1c1c1c;
            /* #692F6F; */
            display: flex;
            padding-top: 200px;
            justify-content: flex-start;
            height: 100vh;
        }
        
        h1 {
            font-weight: 700;
            font-size: 4em;
            color: white;
        }
        
        span {
            color: orange;
            text-align: right !important
        }
        /* page two */
        
        #aboutMe {
            background-color: #393e46;
            display: flex;
            padding: 5em 0 10em 0;
            min-height: 100vh;
        }
        
        .textAboutMe {
            /* display: inline-block; */
            color: white;
            /* padding: 40px;
            padding: 10%; */
            font-size: 1.4em;
            text-align: center;
        }
        
        .myPhoto {
            width: 50%;
            padding: 0%;
            /* align-items: center; */
            /* justify-content: space-around; */
            width: 250px;
            height: 250px;
            border-radius: 160px;
            border: 10px solid #666;
            margin-left: 18%;
        }
        
        h2 {
            font-weight: 700;
            font-size: 4em;
            padding-bottom: 30px;
            color: white;
            text-decoration-color: #565656;
        }
        /* page three */
        
        #skill {
            background-color: #989898;
            display: flex;
            flex-flow: column wrap;
            padding-top: 60px;
            min-height: 100vh;
        }
        
        .skillText {
            color: #1c1c1c!important;
        }
        
        .cardSkill {
            border-radius: 160px;
            border: 10px solid orange;
        }
        /* page four */
        
        i {
            display: flex;
            font-size: 100px;
            margin-left: 109px;
            margin-top: 60px;
        }
        
        .card-title {
            text-align: center!important;
        }
        
        .imgFire {
            width: 230px;
            height: 100px;
            margin-left: 54px;
            margin-top: 80px;
        }
        
        h5 {
            font-family: 'Francois One', sans-serif;
            font-size: 25px;
            margin-top: 4rem;
        }
        
        .fot {
            margin-top: 17rem;
        }
        
        .image {
            width: 298px;
            height: 398px;
            border-radius: 10px;
        }
        
        .input {
            position: absolute;
        }
        
        .scene {
            width: 1440px;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            padding: 40px 30px;
        }
        
        .card-wrap {
            display: block;
            width: 300px;
            max-width: 100%;
            height: 400px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        
        .card,
        .front,
        .back,
        .card-photo {
            width: 100%;
            height: 100%;
        }
        
        .card-face {
            position: absolute;
            backface-visibility: hidden;
        }
        
        .card {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 1s, box-shadow .4s;
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
            border-radius: 10px;
        }
        
        .card-photo {
            border-radius: 10px;
            background-color: black;
        }
        
        .card:hover {
            box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
        }
        
        .back {
            background: #212529;
            transform: rotateY( 180deg);
            text-align: center;
            color: white;
            border-radius: 10px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
        }
        
        .back p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 100px;
        }
        
        .flipcard {
            opacity: 0;
        }
        
        input:checked+.card {
            transform: rotateY( 180deg);
        }
        
        @media screen and (min-width: 960px) {
            .scene {
                display: flex;
                justify-content: space-around;
            }
        }
        
        h5 {
            font-size: 1.5em;
        }
        
        #project {
            padding-top: 186px;
            min-height: 100vh;
            background-color: #1c1c1c;
        }
        
        .btn-primary {
            color: white;
            background-color: orange!important;
            border-color: orange;
        }
        /* page five */
        
        #contact {
            padding-top: 140px;
            height: 100vh;
            padding: 29vh 0;
            background-color: #989898;
        }
        
        .contactText {
            color: orange;
        }
        
        #contact i {
            font-size: 3em;
            margin: 0.3em;
        }
        
        #contact a:link {
            color: #1b242f!important;
        }
        
        #contact a:visited {
            color: #1b242f!important;
        }
        
        #contact a:hover {
            color: #c06c84;
        }
        
        #contact a:active {
            color: #c06c84;
        }
        
        #contact p {
            font-size: 1.5em;
            margin: 0;
        }
        
        .btn {
            transition: ease all 1s;
        }
        
        img {
            display: flex;
            font-size: 100px;
        }
        
        .icon-links i {
            margin: 0.5em;
            display: inline;
        }
        
        .download-cv-box {
            display: block;
        }
        
        .btn-outline-info {
            color: orange;
            background-color: transparent;
            background-image: none;
            border-color: orange;
        }
        
        .btn-outline-info:hover {
            color: orange;
            background-color: #e09fa6;
            border-color: black;
        }