        * {
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        a:hover {
            background-color: #ed8f31;
            position: fixed;
        }
        
        .bg-light {
            background-color: orange !important;
        }
        /* pag one */
        
        #home {
            background: #692F6F;
            display: flex;
            padding-top: 1px;
            align-items: center;
            justify-content: space-around;
            height: 100vh;
        }
        
        h1 {
            font-weight: 700;
            font-size: 3em;
            color: white;
        }
        
        span {
            color: orange;
        }
        /* page two */
        
        #aboutMe {
            background-color: #393e46;
            display: flex;
            padding-top: 100px;
            height: 100vh;
        }
        
        .textAboutMe {
            display: flex;
            color: white;
            padding: 70px
        }
        
        .myPhoto {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 300px;
            height: 300px;
            border-radius: 160px;
            border: 10px solid #666;
        }
        
        h2 {
            font-weight: 700;
            font-size: 4em;
            padding-bottom: 30px;
            color: white;
            text-decoration-color: #565656;
        }
        /* page three */
        
        #skill {
            background-color: #eeeeee;
            display: flex;
            flex-flow: column wrap;
            padding-top: 140px;
            height: 100vh;
        }
        /* page four */
        
        i {
            display: flex;
            font-size: 100px;
            margin-left: 10px;
        }
        
        #project {
            display: flex;
            justify-content: space-between;
            background-color: #7d4d9b;
            padding-top: 100px;
            height: 100vh;
            padding-bottom: 30px;
        }
        
        h5 {
            font-size: 1.5em;
        }
        /* page five */
        
        #contact {
            background: #989898;
            display: flex;
            justify-content: center;
            padding-top: 140px;
            height: 100vh;
        }
        
        img {
            display: flex;
            font-size: 100px;
        }