        * {
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        .navbar {
            position: relative;
            width: 100%;
            background-color: orange;
        }
        
        a {
            color: white!important;
        }
        
        .navbar-toggler {
            border-color: #1c1c1c!important;
            font-size: 1.25rem;
            line-height: 1;
        }
        
        .row {
            margin: 0;
        }
        
        .starWelcome {
            /* Aposition: fixed; */
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
        /* pag one */
        
        #home {
            background: #1c1c1c;
            /* #692F6F; */
            display: flex;
            padding-top: 200px;
            justify-content: flex-start;
            height: 100vh;
        }
        
        h1 {
            font-weight: 700;
            font-size: 4em;
            color: white;
        }
        
        span {
            color: orange;
            text-align: right !important
        }
        /* page two */
        
        #aboutMe {
            background-color: #393e46;
            display: flex;
            padding-top: 69px;
            min-height: 100vh;
        }
        
        .textAboutMe {
            display: inline-block;
            color: white;
            padding: 40px;
            padding: 10%;
            font-size: 1.4em;
            text-align: center;
        }
        
        .myPhoto {
            margin: auto;
            display: flex;
            /* align-items: center; */
            /* justify-content: space-around; */
            width: 250px;
            height: 250px;
            border-radius: 160px;
            border: 10px solid #666;
        }
        
        h2 {
            font-weight: 700;
            font-size: 4em;
            padding-bottom: 30px;
            color: white;
            text-decoration-color: #565656;
        }
        /* page three */
        
        #skill {
            background-color: white;
            display: flex;
            flex-flow: column wrap;
            padding-top: 60px;
            min-height: 100vh;
        }
        
        .skillText {
            color: #1c1c1c!important;
        }
        
        bcolor-4BA1AA {
            background-color: #4BA1AA;
        }
        
        .bcolor-E25353 {
            background-color: #E25353;
        }
        
        .bcolor-444B54 {
            background-color: #444B54;
        }
        
        .bcolor-607DA0 {
            background-color: #607DA0;
        }
        
        .bcolor-E28353 {
            background-color: #E28353;
        }
        
        .bcolor-525A7F {
            background-color: #525A7F;
        }
        
        .bcolor-5EB9B3 {
            background-color: #5EB9B3;
        }
        
        .bcolor-6496C1 {
            background-color: #6496C1;
        }
        
        figure.snip1084 {
            color: #fff;
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            min-width: 220px;
            max-width: 310px;
            max-height: 220px;
            text-align: center;
            transition: background-color ease 0.5s;
            cursor: pointer;
        }
        
        figure.snip1084:hover {
            background: #1b242f;
        }
        
        figure.snip1084 * {
            -webkit-box-sizing: padding-box;
            box-sizing: padding-box;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        
        figure.snip1084 figcaption {
            top: 50%;
            left: 40px;
            right: 40px;
            position: absolute;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        figure.snip1084 figcaption h2 {
            position: relative;
            font-weight: 300;
            margin: 0;
            -webkit-transform: translateY(50%);
            transform: translateY(50%);
            font-size: 4em;
            line-height: 1.8em;
        }
        
        figure.snip1084 figcaption p {
            font-size: 1em;
            opacity: 0;
            margin: 0;
        }
        
        figure.snip1084.size {
            width: 50%;
            padding: 50%;
            margin: 0;
        }
        
        figure.snip1084:hover figcaption h2,
        figure.snip1084.hover figcaption h2,
        figure.snip1084:hover figcaption p,
        figure.snip1084.hover figcaption p {
            opacity: 1;
            border-color: rgba(255, 255, 255, 0.5);
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        
        figure.snip1084:hover figcaption p,
        figure.snip1084.hover figcaption p {
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }
        
        figcaption.bootstrap-ico-position {
            top: 43% !important;
        }
        
        .small-skill-title {
            font-weight: 700;
            font-size: 1.2em;
            display: block;
        }
        /* page four */
        
        i {
            display: flex;
            font-size: 100px;
            margin-left: 10px;
        }
        
        .imgFire {
            width: 230px;
            height: 100px;
        }
        
        #project {
            display: flex;
            justify-content: space-between;
            background-color: #7d4d9b;
            padding-top: 100px;
            min-height: 100vh;
            padding-bottom: 30px;
        }
        
        h5 {
            font-size: 1.5em;
        }
        /* page five */
        
        #contact {
            background: #989898;
            display: flex;
            justify-content: center;
            padding-top: 140px;
            height: 100vh;
        }
        
        img {
            display: flex;
            font-size: 100px;
        }